{
  "presets": ["@babel/env", "@babel/typescript", "@babel/react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "useESModules": true
          }
        ],
        "react-hot-loader/babel"
      ]
    },
    "node": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "esmodules": true
            }
          }
        ]
      ],
      "plugins": ["./build/babel/plugin/babel-plugin-style-to-empty"]
    }
  }
}
